doctype html 
html
    head 
        title Home Page
        style 
            include ../public/stylesheets/styles.css
    body
        div.header Welcome

        div.links-wrapper 
            p 
                a(href="/createUser") Create Account
            p 
                a(href="#") Login
            p 
                a(href="#") View Users