doctype html
html
    head 

        title No Users Created
        style 
            include ../public/stylesheets/styles.css
    body

        div.header No Users Created
        div.modal-wrapper
            div.modal-content 
                div.modal-header No Users Created
                a(class="edit-link" href="/create-account")
                    button.edit Create A New Account
